BASE_PATH=./

# DB
POSTGRES_DB=framework-development
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_URL=postgres://postgres:password@localhost/framework-development

# FIREBASE
GOOGLE_APPLICATION_CREDENTIALS=../../gemunion-firebase-key.json

# URLs
ADMIN_BE_URL=http://localhost:3001
ADMIN_FE_URL=http://localhost:3002
MARKET_FE_URL=http://localhost:3006
MARKET_BE_URL=http://localhost:3005

# BLOCKCHAIN
JSON_RPC_ADDR_ETHEREUM=
JSON_RPC_ADDR_GORLY=
JSON_RPC_ADDR_BINANCE=
JSON_RPC_ADDR_BINANCE_TEST=
JSON_RPC_ADDR_POLYGON=
JSON_RPC_ADDR_MUMBAI=
JSON_RPC_ADDR_BESU=http://127.0.0.1:8545/
JSON_RPC_ADDR_GEMUNION=
PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

