version: "3.3"

services:

  postgres:
    container_name: postgres
    image: postgres
    user: root
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - ${BASE_PATH}/postgres:/var/lib/postgresql/data
      - ${BASE_PATH}/pgbckp:/pgbckp

  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
    sysctls:
      net.core.somaxconn: "65535"

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:management
    volumes:
      - ${BASE_PATH}/rabbitmq.conf:/etc/rabbitmq/conf.d/rabbitmq.conf
      - ${BASE_PATH}/rabbitmq_definitions.json:/etc/rabbitmq/rabbitmq_definitions.json
    ports:
      - "5672:5672"
      - "15672:15672"

  besu:
    container_name: besu
    restart: "on-failure"
    image: hyperledger/besu:latest
    environment:
      BESU_GENESIS_FILE: /var/lib/besu/gen-besu.json
      BESU_DATA_PATH: /var/lib/besu
      BESU_HOST_ALLOWLIST: "*"
      BESU_RPC_WS_ENABLED: "true"
      BESU_RPC_WS_HOST: 0.0.0.0
      BESU_RPC_HTTP_HOST: 0.0.0.0
      BESU_RPC_HTTP_ENABLED: "true"
      BESU_RPC_HTTP_CORS_ORIGINS: "*"
      BESU_RPC_HTTP_API: "ADMIN,ETH,NET,WEB3,MINER,IBFT"
      BESU_RPC_WS_API: "ADMIN,ETH,NET,WEB3,MINER,IBFT"
      BESU_MINER_ENABLED: "true"
      BESU_MINER_COINBASE: fe3b557e8fb62b89f4916b721be55ceb828dbd73
    volumes:
      - ${BASE_PATH}/besu:/var/lib/besu
      - ${BASE_PATH}/gen-besu.json:/var/lib/besu/gen-besu.json
    ports:
      - "8545:8545"
      - "8546:8546"
      - "8547:8547"
      - "30303:30303"

  explorer:
    container_name: explorer
    restart: "on-failure"
    image: alethio/ethereum-lite-explorer
    environment:
      APP_NODE_URL: "http://127.0.0.1:8545"
    ports:
      - 8080:80
    depends_on:
      - besu
