# App
PORT=3010
HOST=localhost

# RMQ
RMQ_URL=amqp://127.0.0.1:5672
RMQ_QUEUE_EMAIL=eml

# MAILJET
MAILJET_PUBLIC_KEY=
MAILJET_PRIVATE_KEY=
MAILJET_FROM=no-reply@gemunion.io
MAILJET_CONTACTLIST_ID=

# GEMUNION
GEMUNION_API_KEY=741f15dd-74af-4708-bdb4-05a8682f971a
GEMUNION_BUSINESS_MODEL=B2B

LOGDNA_INGESTION_KEY=2c437276f28da953c70ab947dd953141
