# APP
HOST=localhost
PORT=3001

# FE
FE_URL=http://localhost:3002

# POSTGRES
POSTGRES_URL=postgres://postgres:password@localhost/framework-test

# REDIS
REDIS_THROTTLE_URL=redis://localhost:6379/2

# THROTTLE
THROTTLE_TTL=3600
THROTTLE_LIMIT=200

# RMQ
RMQ_URL=amqp://localhost:5672
RMQ_QUEUE_EMAIL=eml
RMQ_QUEUE_CORE_ETH=core_eth

# LOGDNA
LOGDNA_INGESTION_KEY=

# GEMUNION
GEMUNION_API_KEY=741f15dd-74af-4708-bdb4-05a8682f971a

# COIN MARKET CAP
COIN_MARKET_CAP_API_KEY=

# COIN GECKO
GECKO_API_KEY=

# OAUTH
JWT_SECRET_KEY=keyboard_cat
JWT_ACCESS_TOKEN_EXPIRES_IN=300
JWT_REFRESH_TOKEN_EXPIRES_IN=2592000

# FIREBASE
GOOGLE_APPLICATION_CREDENTIALS=

# BLOCKCHAIN
PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

